body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #162c3b;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.home-logo {
    display: flex;
    align-items: center;
}

.home-logo-text {
    flex: 1;
}

.home-logo-img {
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 220px;
    height: 150px
}

.home-logo-img>img {
    width: 150px;
    height: 150px;
}

.links>li {
    padding: 15px;
}

.links>li>div {
    align-items: center;
    text-align: center;
}

.links>li>div>div {
    margin-bottom: 5px;
}

.btn,
.form-control {
    transition: background 0.5s linear;
}

/* Custom nav */
.navbar-inverse {
    background-color: #4E9ED7;
    border-color: #4E9ED7;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    border-color: #4E9ED7;
}

.navbar-inverse .navbar-brand {
    color: white;
    border-color: #4E9ED7;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: aqua;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: aqua;
}

.navbar-brand-img {
    padding: 5px 15px;
    padding-left: 15px;
}

.navbar-brand-img>img {
    width: 44px;
    height: 40px;
    padding-right: 10px;
}

/* headlines */
h1,
h2 {
    color: #4083b3;
}

h3,
h4,
h5,
h6 {
    color: #4E9ED7;
}

/* texts */
span,
p,
address {
    font-size: 14px;
    line-height: 20px;
    color: #162c3b;
}

/* links */
a {
    color: #4E9ED7;
}

a:hover,
a:focus {
    color: aqua !important;
    text-decoration: underline;
}
a:visited {
    color: #b985d6;
}
