{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Мы являемся одним из ведущих источников новостей из мира настольных игр. Наша миссия - делать настольные игры более
    доступными и популярными. Мы предлагаем самые свежие новости, обзоры игр, интервью с разработчиками и многое другое.
</p>

<p>Мы стремимся предоставить вам последние новости и обновления из мира настольных игр. Независимо от того, являетесь ли
    вы рядовым игроком или заядлым энтузиастом, вы найдете здесь множество интересных статей, обзоров и материалов.
</p>
<p>
    Наша команда опытных писателей и редакторов очень увлечена настольными играми, и мы стремимся предоставлять
    высококачественный контент, который является информативным, увлекательным и интересным. От подробных обзоров
    новейших настольных игр до интервью с инсайдерами индустрии, мы охватываем широкий спектр тем, которые обязательно
    понравятся всем любителям игр.
</p>
<p>Мы стараемся быть на связи со своими читателями и всегда открыты к обратной связи. Если у вас есть какие-либо вопросы
    или предложения, пожалуйста, <a href="{% url 'contact' %}">свяжитесь с нами</a>.</p>

{% endblock %}