{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Мы являемся одним из ведущих источников новостей из мира настольных игр. Наша миссия - делать настольные игры более
    доступными и популярными. Мы предлагаем самые свежие новости, обзоры игр, интервью с разработчиками и многое другое.
</p>
<p>Мы стараемся быть на связи со своими читателями и всегда открыты к обратной связи. Если у вас есть какие-либо вопросы
    или предложения, пожалуйста, свяжитесь с нами.</p>

{% endblock %}