{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron home-logo">
    {% load static %}
    <div class="home-logo-img">
        <img src="{% static 'app/img/logo.svg' %}" alt="PeaceDice logo" />
    </div>
    <div class="logo-text">
        <h1>PeaceDice</h1>
        <p class="lead">Новостной сайт о настольных играх.</p>
        <p><a href="{% url 'about' %}" class="btn btn-primary btn-large">Узнать больше о нас&raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Новости мира настольных игр</h2>
        <p>
            Мы следим за всеми новинками и событиями в мире настольных игр и делаем обзоры самых интересных проектов,
            чтобы наши читатели всегда были в курсе. Мы публикуем интервью с разработчиками, обзоры настольных игр,
            статьи о стратегиях игры и многое другое. Присоединяйтесь к нам и будьте в центре событий мира настольных
            игр.
        </p>
        <p><a class="btn btn-default" href="#">Читать новости &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Рекомендации по выбору настольной игры</h2>
        <p>Мы помогаем нашим читателям выбрать подходящую настольную игру для себя, рассказываем об особенностях игры и
            даем рекомендации по выбору. Наши рекомендации основаны на опыте и обзорах от лучших настольных игроков и
            экспертов.</p>
        <p><a class="btn btn-default" href="#">Выбрать игру &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Советы для начинающих игроков</h2>
        <p>Мы делимся с нашими читателями полезными советами для начинающих настольных игроков, которые помогут им стать
            более опытными и уверенными в своих навыках. Мы рассказываем об основах игры, обучаем тактике и стратегиям,
            даем советы по развитию логического мышления и творческих способностей.</p>
        <p><a class="btn btn-default" href="#">Получить советы &raquo;</a></p>
    </div>
</div>
{% endblock %}