{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<ul class="links">
    <li>
        <div>
            <div>
                <a href="https://tesera.ru/">
                    <img src="{% static 'app/img/tesera_2.png' %}" />
                    <img src="{% static 'app/img/tesera_1.png' %}" />
                </a>
            </div>
            <a href="https://tesera.ru/">Тесера</a> - российский портал о настольных играх
        </div>
    </li>
    <li>
        <div>
            <div>
                <a href="https://boardgamegeek.com/">
                    <img style="background-color: #322E4D;"
                        src="{% static 'app/img/bgg.svg' %}" />
                </a>
            </div>
            <a href="https://boardgamegeek.com/">BoardGameGeek</a> - ведущий сайт о настольных играх
        </div>
    </li>
    <li>
        <div>
            <div>
                <a href="https://www.reddit.com/r/boardgames/">
                    <img src="{% static 'app/img/reddit.png' %}"
                        style="height: 100px;width: 100px;" />
                </a>
            </div>
            <a href="https://www.reddit.com/r/boardgames/">r/boardgames</a> - тема на редите, посвященная настольным
            играм, с обсуждениями и рекомендациями от пользователей.
        </div>
    </li>
</ul>

{% endblock %}